@import url(used/_reset.css);

html{
color: #cecece;
}

body{
 background: #rgb(206, 206, 206);
 height: 100vh;
 width: 100%;
}



h1.logo--text{
    position: absolute;
    top: 2%;
    left: 2%;
    font-size: 4rem;
    color: #;
    z-index: 20;
}

.login-col{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.login-col::before{
    content: "";
    position: fixed;
    display: block;
    transform: rotate(15deg);
    top: 80%;
    left: -20%;
    height:100%;
    width: 100%;
    background: #415B76;
    z-index: 0;
    box-shadow: inset 0px 12px 20px 0px rgba(0,0,0,0.45);
}

.login{
    position: relative;
    display: block;
    width: 33%;
    min-width: 500px;
    max-width: 800px;
    min-height: 300px;
    background: rgba(35,54,86);
    padding: 1rem 3rem;
    box-shadow: 1px 8px 146px 20px rgba(0,0,0,0.69);
    -webkit-box-shadow: 1px 8px 146px 20px rgba(0,0,0,0.69);
    -moz-box-shadow: 1px 8px 146px 20px rgba(0,0,0,0.69);
}

.login form p{
    display: inline-block;
    margin: 1rem 0 .5rem 0rem;
    font-weight: 600;
    min-height: 1rem;
    color: rgba(255, 255, 255, 0.8);
}
.login form p span.verification{
    display: inline-block;
    margin: 1rem 0 .5rem 1rem;
    margin-top: 0rem;
    color: rgb(255, 62, 62);
    border-bottom: 1px solid rgb(255, 62, 62)
}

.login form input{
    display: inline-block;
    width: 100%;
    padding: 1rem;
    background: none;
    border: none;
    border-bottom: 2px solid #CDD6D5;
    transition: all 0.4s ease-in-out;
    outline: none;
    cursor: text;
}

.login form input[type="button"]{
    background: #7B9BA6;
    width: 75%;
    display: block;
    margin: 1rem auto;
    color: #CDD6D5;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 30px;
    border-bottom: none;
    cursor: pointer;
}

.login form input[type="button"]:hover{
background: #CDD6D5;
color: #415B76;
}

.login form input::placeholder{
    font-size: 1rem;
    font-weight: 600;
    color: #7B9BA6;
}
.login form input{
    font-size: 1rem;
    font-weight: 600;
    color: #cecece;
}
.login form input:focus{
    background-color: #415B76;
    border: 2px solid #cecece;

}

.login-logo{
    font-size: 5rem;
    padding: 2rem;
    text-align: center;
    background: rgba(35,54,86);
    top: -8%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: absolute;
    box-shadow: 1px 8px 146px 20px rgba(0,0,0,0.69);
    -webkit-box-shadow: 1px 8px 146px 20px rgba(0,0,0,0.69);
    -moz-box-shadow: 1px 8px 146px 20px rgba(0,0,0,0.69);
    }

.lost-login{
    /* color: red; */
}



footer{
    position: fixed;
    bottom: 0;
    background: #233656;
    width: 100%;
    text-align: right;
    padding: .25em 1rem;
}