@import url(reset.css);

html{

}
body{
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
}

h1{
    font-size: 2.4rem;
    margin-bottom: 2.2rem;
}

nav .logo h2{
    font-size: 2.2rem;
    color: #EEF4F2;
    margin: 0.5rem 0rem 1.8rem 0rem;
}

footer h5{
    color: #EEF4F2;
    font-size: .82rem;
    line-height: 1.6rem;
    margin-right: 1.92rem;
}

ul.user a:last-child li {
    margin-bottom: 1.5rem;
}

ul.user svg, ul.admin svg, div.myAccount svg{
    width: 2.5rem;
    fill: #fff;
    margin: 0rem 1rem;
}

.myAccount_text{
    font-size: 1.2rem;
    color: #EEF4F2;
    text-align: center;
    margin-bottom: 1rem;
}

nav, section{
    display: block;
    float: left;
    min-height: 97vh;
}

nav{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20%;
    background: #233656;
    padding: 1rem 0;
}

section{
    width: 80%;
    background: #fff;
    padding: 2rem;
}

footer{
    clear: both;
    height: 3vh;
    background: #233656;
    text-align: right;
}

.admin{
    border-top: 2px solid #CDD6D5;
    position: relative;
    /* display: none; */
}
.admin::after{
    content: "Panel Administracyjny";
    color: #fff;
    position: absolute;
    top: -25px;
    margin-left: 1rem;
    z-index: 2;
    padding: .4rem;
    background: #233656;
    border: 2px solid #CDD6D5;
}

nav li{
    padding: 0.8rem .6rem;
    width: 100%;
    margin-bottom: 0.2rem;
    display: flex;
    align-items: center;
    color: #EEF4F2;
    text-transform: uppercase;
}

nav ul:hover > a{
    opacity: 0.6;
}

nav a, a:hover{
    text-decoration: none;
    color: #EEF4F2;
    display: block;
}

nav ul:hover > a:hover, li:hover{
    background: #415B76;
    color: #EEF4F2;
    text-decoration: none;
    opacity: 1;
}