label, input, select, textarea{
    display: block;
}

input[type="radio"],input[type="checkbox"]{
    display: inline-block;
}

.sex-radio svg{
    width: 35px;
}


label[for="m"], label[for="g"]{
    margin: 0rem;
    display: inline-block;
}
label{
    margin: 1rem 0;
}

label svg{
    margin-right:  4rem;
}

input[type="text"], input[type="date"], select, textarea{
    width: 100%;
    border-radius: 5px;
    padding: .8rem;
    background: none;
    border: 2px solid #CDD6D5;
}

textarea{
    min-height: 150px;
    max-height: 500px;
}

input[type="checkbox"]{
width: 100%;
height: 20px;
background: red;
}

input[type="checkbox"]::before{
background: red;
}


